.htaccess
config.php
smol.html
media/
media/images
media/thumbnails
media/factsheets
media/qrcodes
media/qrcards
functions.php
cleanup
/vendor
pieter_2025-12-07_16-02-47.sql
assets/img/
/images
node_modules
pietercodette0904.zip
mediaApril24.zip
assets/pdfdoc